@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    

    <ol class="breadcrumb">
        <li>Home</li>
     </ol>

    <div class="row  row-offcanvas row-offcanvas">
        <div class="pull-right col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="list-group">
                <a href="@Url.Action("Slider", "Home")"  class="list-group-item">Головна</a>
                <a href="@Url.Action("Mission", "Home")" class="list-group-item">Місія</a>
                <a href="@Url.Action("Strategy_plan", "Home")" class="list-group-item">Стратегічний план</a>
                <a href="@Url.Action("Presentation", "Home")" class="list-group-item">Презентація</a>
                <a href="@Url.Action("Diagram1", "Home")" class="list-group-item">Схема взаємодії учасників</a>
                <a href="@Url.Action("Diagram2", "Home")" class="list-group-item">Організаційна структура</a>
                <a href="@Url.Action("Potential", "Home")" class="list-group-item">Потенціал</a>
            </div>
        </div><!--/span-->


        <div class="pull-left col-xs-12 col-sm-9 ">
            <p class="pull-left visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron" style="background-color: #fcf7e3">
                
                @RenderBody()
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-6">
                    <h2>Sharing of ideas</h2>
                    <p>
                        In Europe, Pierre Laffitte, the mastermind and founder of Sophia Antipolis Science Park in France,
                        described the concept of cross fertilization as the interchange between different cultures or
                        different ways of thinking that is mutually productive and beneficial; "the cross-fertilization
                        of science and the creative arts" not only in terms of economic, but also on a social and cultural level.
                    </p>
                    <p><a class="btn btn-default" href="http://google.com/">Any link &raquo;</a></p>
                    
                </div><!--/span-->
                <div class="col-6 col-sm-6 col-lg-6">
                    <h2>Школа</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!--/span-->
              </div><!--/row-->
        </div><!--/span-->

        
    </div>
</div>
