
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" ng-app="myApp">
    
    <div class="page-banner-content">
       
        <ol class="breadcrumb">
            <li class="active">Головна</li>
        </ol>
    </div>
    

    <script>
        //var myApp = angular.module('myApp', ['ngRoute']);

        //myApp.controller('WidgetsController', function ($scope) { });
        //myApp.controller('MyCtrl', function ($scope, $location) {
        //    $scope.isActive = function (route) {
        //        var path = $location.path();
        //        debugger;
        //        return route === $location.path();
        //    }
        //});


        //myApp.config(function ($routeProvider) {

        //    $routeProvider
        //        .when('/MainPage', { templateUrl: '#', controller: 'WidgetsController' })
        //        .when('/lab', { templateUrl: 'Home/Mission', controller: 'WidgetsController' });
        //});
  

    </script>

    <div class="row  row-offcanvas row-offcanvas">
        <div class="pull-right col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class=""ng-controller="MainCtrl" ng-app=app>
                <ul class="list-group"  bs-active-link >
                    <li class="list-group-item" n><a href="@Url.Action("MainPage", "Home")" class="list-group-item btn btn-primary">Головна</a></li>
                </ul>
                
                <a href="@Url.Action("Mission", "Home")"   ng-class="{active:isActive('/lab')}" class="list-group-item btn btn-primary">Місія</a>
                <a href="@Url.Action("Potential", "Home")"  class="list-group-item btn btn-primary">Переваги участі</a>
                <a href="@Url.Action("Partners", "Home")"  class="list-group-item btn btn-primary">Партнери</a>
                <a href="@Url.Action("Leaders", "Home")"   class="list-group-item btn btn-primary">Керівництво</a>
                <a href="@Url.Action("Contact", "Home")"   class="list-group-item btn btn-primary">Контакти</a>

            </div>
        </div><!--/span-->
       
        
        <div class="pull-left col-xs-12 col-sm-9 ">
            <p class="visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="row"  style="padding-top: 20px; padding-bottom: 20px">
                <div class="carousel">
                    @RenderBody()
                </div>
                
            </div>
        
           @*<div class="pull-right">@Html.Partial("Slider")</div>*@ 
        


            <div class="row">
                <div class="col-6 col-sm-6 col-lg-6">
                    <h2>Sharing of ideas</h2>
                    <p>
                        In Europe, Pierre Laffitte, the mastermind and founder of Sophia Antipolis Science Park in France,
                        described the concept of cross fertilization as the interchange between different cultures or
                        different ways of thinking that is mutually productive and beneficial; "the cross-fertilization
                        of science and the creative arts" not only in terms of economic, but also on a social and cultural level.
                    </p>
                    <p><a class="btn btn-default" href="http://google.com/">Any link &raquo;</a></p>
                    
                </div><!--/span-->
                <div class="col-6 col-sm-6 col-lg-6">
                    <h2>Cтартап школа</h2>
                    <p>24 лютого 2017 року в університеті за ініціативи Наукового парку НУБіП «Стале природокористування та якість життя» відбулась зустріч-дискусія «Стартап – це процес, який ідею перетворює на успішний бізнес».</p>
                    <p><a class="btn btn-default" href="/Home/StartapSckool" role="button">Більше інформації &raquo;</a></p>
                </div><!--/span-->
              </div><!--/row-->
        </div><!--/span-->

        
    </div>
</div>
