
@model SpNubip.Models.News

<div class="page-banner-content">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Slider", "Home")">Головна</a></li>
        <li><a href="@Url.Action("News", "Home")">Новини</a></li>
        <li class="active">@Model.Title</li>
    </ol>
</div>
<br/>

<div class="featurette" id="services">
    <img style="max-height: 500px;max-width: 500px" class="featurette-image img-thumbnail img-responsive pull-left" src="@Model.Img">
    <h2 class="featurette-heading">
       @Model.Title
       <!-- <span class="text-muted">Is Pretty Cool Too.</span>-->
    </h2>
    <p class="lead">@Model.News1</p>
</div>