@using SpNubip.Models;
@model CategoryProjects

@foreach (var categoryProjects in Model.categoryProjects)
{
    foreach (var project in categoryProjects)
    {
        <p>@project.Title </p>
        <p>@project.Creator</p>
        <p>@project.Category.Title_Gategory</p>
        <p>@project.Img.Url_Img</p>
        <p>@project.Description</p>
        <p>@project.Areas_of_application</p>
        <p>@project.Efficiency</p>
        <p>@project.Pulpit</p>
        <p>@project.View</p>
    }
}
@foreach (var category in Model.categories)
{
    <a href="/Home/Projects/@category.Id_Category">@category.Title_Gategory</a>
}